@import '../../styles.less';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap.css');

#second-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.cursive-font {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.page-border {
    background-color: #f5f1e7;
    width: 100vw;
    height: 100vh;
}

.male-img,.woman-img {
    width: 400px;
    position: absolute;
    bottom: 25vh;
}

.male-img.left,.woman-img.left {
    left: 1vw;
}

.male-img.right,.woman-img.right {
    right: 1vw;
    width: 420px;
}

.together-img {
    width: 400px;
}

.top-banner {
    top: 0;
    height: 30vh;
    position: absolute;
}

.bottom-banner {
    bottom: 50px;
    height: 21vh;
    position: absolute;
}

@media (max-width: 376px) {
    div div {
        h1 {
            font-size: 22px;
        }
        
        h2 {
            font-size: 14px;
        }
        
        h3 {
            font-size: 16px;
        }
        
        p {
            font-size: 10px;
        }

        .male-img {
            width: 50px;
        }

        .woman-img {
            width: 60px;
        }

        .together-img {
            width: 125px;
        }
    }
}

@media (max-width: 376px) and (min-height: 800px) {
    div div {
        h1 {
            font-size: 22px;
        }
        
        h2 {
            font-size: 14px;
        }
        
        h3 {
            font-size: 16px;
        }
        
        p {
            font-size: 10px;
        }

        .male-img {
            left: 35vw;
            width: 50px;
            bottom: 20vh;
        }

        .woman-img {
            right: 35vw;
            width: 60px;
            bottom: 20vh;
        }

        .together-img {
            width: 125px;
        }
    }

    div { 
        .top-banner {
            height: 20vh;
        }

        .bottom-banner {
            height: 15vh;
        }

        .page-content {
            padding-bottom: 8vh;
        }
    }
}

@media (min-width: 376.1px) and (max-width: 575.98px) {
    div div {
        h1 {
            font-size: 24px;
        }
        
        h2 {
            font-size: 20px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        p {
            font-size: 12px;
        }

        .male-img {
            width: 50px;
            bottom: 29vh;
        }

        .woman-img {
            width: 60px;
            bottom: 29vh;
        }

        .together-img {
            width: 175px;
        }
    }
}

@media (min-width: 376.1px) and (max-width: 575.98px) and (max-height: 720.98px) {
    div div {
        h1 {
            font-size: 24px;
        }
        
        h2 {
            font-size: 20px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        p {
            font-size: 12px;
        }

        .male-img {
            left: 5vw;
            width: 50px;
            bottom: 25vh;
        }

        .woman-img {
            right: 5vw;
            width: 60px;
            bottom: 25vh;
        }

        .together-img {
            width: 175px;
        }
    }

    div { 
        .top-banner {
            top: -6vh;
            height: 39vh;
        }

        .bottom-banner {
            bottom: 3vh;
            height: 28vh;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    div div {
        h1 {
            font-size: 32px;
        }
        
        h2 {
            font-size: 28px;
        }
        
        h3 {
            font-size: 20px;
        }
        
        p {
            font-size: 14px;
        }

        .male-img {
            width: 155px;
        }

        .woman-img {
            width: 165px;
        }

        .together-img {
            width: 200px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    div div {
        h1 {
            font-size: 40px;
        }
        
        h2 {
            font-size: 32px;
        }
        
        h3 {
            font-size: 24px;
        }
        
        p {
            font-size: 16px;
        }

        .male-img {
            width: 100px;
            left: 5vw;
            bottom: 28vh;
        }

        .woman-img {
            width: 110px;
            right: 5vw;
            bottom: 28vh;
        }

        .together-img {
            width: 300px;
        }
    }

    div { 
        .top-banner {
            top: -8vh;
            height: 39vh;
        }

        .bottom-banner {
            bottom: 1vh;
            height: 28vh;
        }
    }

    .page-border {
        background-size: 70vh;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (max-height: 1024.99px) {
    div div {
        h1 {
            font-size: 40px;
        }
        
        h2 {
            font-size: 32px;
        }
        
        h3 {
            font-size: 24px;
        }
        
        p {
            font-size: 16px;
        }

        .male-img {
            width: 100px;
            left: 5vw;
            bottom: 25vh;
        }

        .woman-img {
            width: 110px;
            right: 5vw;
            bottom: 25vh;
        }

        .together-img {
            width: 300px;
        }
    }

    div { 
        .top-banner {
            top: -8vh;
            height: 39vh;
        }

        .bottom-banner {
            bottom: 1vh;
            height: 28vh;
        }
    }

    .page-border {
        background-size: 70vh;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    div div {
        h1 {
            font-size: 44px;
        }
        
        h2 {
            font-size: 34px;
        }
        
        h3 {
            font-size: 26px;
        }
        
        p {
            font-size: 17px;
        }

        .male-img {
            width: 110px;
            left: 5vw;
            bottom: 28vh;
        }

        .woman-img {
            width: 120px;
            right: 5vw;
            bottom: 28vh;
        }

        .together-img {
            width: 400px;
        }
    }

    div { 
        .top-banner {
            top: -8vh;
            height: 39vh;
        }

        .bottom-banner {
            bottom: 1vh;
            height: 28vh;
        }
    }
}

@media (min-width: 1200px) {
    div div {
        h1 {
            font-size: 48px;
        }
        
        h2 {
            font-size: 36px;
        }
        
        h3 {
            font-size: 28px;
        }
        
        p {
            font-size: 18px;
        }
    }

    .male-img {
        width: 305px;
        bottom: 100px;
    }

    .woman-img {
        width: 315px;
        bottom: 100px;
    }

    .together-img {
        width: 150px;
    }
}

@media (min-height: 1024px) {
    div {
        .tree-lantern {
            width: 80vw;
        }
    }
}

@media (min-aspect-ratio: 15/9) or (aspect-ratio: 16/10) {
    div {
        .top-banner {
            top: -60vh;
            height: 104vh;
        }

        .bottom-banner {
            bottom: -45vh;
            height: 73.5vh;
        }

        div {
            .male-img {
                width: 100px;
                bottom: 100px;
                left: 10vw;
            }
        
            .woman-img {
                width: 110px;
                bottom: 100px;
                right: 10vw;
            }
        }
    }
}