<div class="page-border">
    <img [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" src="/assets/images/upper_chinese_banner.png" class="top-banner"/>
    <img [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" src="/assets/images/lower_chinese_banner.png" class="bottom-banner"/>
    <div [@content]="showContent ? 'visible' : 'void'" (@content.done)="onContentDone($event)" class="page-content" id="second-page">
        <p>السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
        <p>&</p>
        <p>SALAM SEJAHTERA</p>
        <br/>
        <h1><div class="cursive-font">Abdul Halim Bin Zainol</div></h1>
        <h1><div class="cursive-font">&</div></h1>
        <h1><div class="cursive-font">Fauzana Binti Abdullah &commat; Tan Poh Choo</div></h1>
        <br/>
        <p>Dengan segala hormatnya kami menjemput</p>
        <p>Tan Sri/Datuk/Datin/Tuan/Puan/Encik/Cik</p>
        <p>hadir ke Majlis Perkahwinan putera kami dan pasangannya</p>
        <br/>
        <h1><div class="cursive-font">Muhammad Zabir Bin Abdul Halim</div></h1>
        <h1><div class="cursive-font">&</div></h1>
        <h1><div class="cursive-font">Nurshafinas Binti Muhammad</div></h1>
        <br/>
        <!-- <p><img [@image]="showImage ? 'visible' : 'void'" src="/assets/images/Together.png" class="together-img"/></p> -->
        <p><img [@image]="showImage ? 'visible' : 'void'" src="/assets/images/Zabir_Chinese.png" class="male-img left"/></p>
        <p><img [@image]="showImage ? 'visible' : 'void'" src="/assets/images/Shafinas_Chinese.png" class="woman-img right"/></p>
    </div>
</div>