<div [@border]="showBorder ? 'visible' : 'hidden'" (@border.done)="onBorderDone()" class="page-border">
    <div [@content]="showContent ? 'visible' : 'hidden'" class="page-content" id="second-page">
        <p>السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
        <p>&</p>
        <p>SALAM SEJAHTERA</p>
        <br/>
        <h1><div class="cursive-font">Abdul Halim Bin Zainol</div></h1>
        <h1><div class="cursive-font">&</div></h1>
        <h1><div class="cursive-font">Fauzana Binti Abdullah &commat; Tan Poh Choo</div></h1>
        <br/>
        <p>Dengan segala hormatnya kami menjemput</p>
        <p>Tan Sri/Datuk/Datin/Tuan/Puan/Encik/Cik</p>
        <p>hadir ke Majlis Perkahwinan putera kami dan pasangannya</p>
        <br/>
        <h1><div class="cursive-font">Muhammad Zabir Bin Abdul Halim</div></h1>
        <h1><div class="cursive-font">&</div></h1>
        <h1><div class="cursive-font">Nurshafinas Binti Muhammad</div></h1>
    </div>
</div>