<div class="page">
    <img [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" class="page-border"/>
    <img [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" class="page-border right"/>
    <!-- <img [@flower]="showFlower ? 'visible' : 'void'" (@flower.done)="onFlowerDone($event)" src="/WeddingInvZ/assets/images/flower1.png" class="flower"/>
    <img [@flower]="showFlower ? 'visible' : 'void'" (@flower.done)="onFlowerDone($event)" src="/WeddingInvZ/assets/images/flower2.png" class="flower right"/>
    <img [@food]="showFood ? 'visible' : 'void'" (@food.done)="onFoodDone($event)" src="/WeddingInvZ/assets/images/food1.png" class="food"/>
    <img [@food]="showFood ? 'visible' : 'void'" (@food.done)="onFoodDone($event)" src="/WeddingInvZ/assets/images/food2.png" class="food right"/>
    <img [@food]="showFood ? 'visible' : 'void'" (@food.done)="onFoodDone($event)" src="/WeddingInvZ/assets/images/food3.png" class="food-below"/>
    <img [@food]="showFood ? 'visible' : 'void'" (@food.done)="onFoodDone($event)" src="/WeddingInvZ/assets/images/food4.png" class="food-below right"/> -->
    <div [@content]="showContent ? 'visible' : 'void'" class="page-content" id="third-page">
        <h3>Tarikh & Masa</h3>
        <p>Sabtu, 16 November 2024</p>
        <p>(14 Jamadilawal 1446)</p>
        <p>6.00 PM - 11.00 PM</p>
        <table>
            <tr>
                <td>
                    <a href="https://calendar.google.com/calendar/r/eventedit?text=Zabir+Shafinas+Wedding&dates=20241116T100000Z/20241116T150000Z&details=Muhammad+Zabir+and+Nurshafinas+Wedding+Ceremony&location=The+Gabion+Garden+Hall%2C+KL" target="_blank">
                        <i class="bi bi-google icon" style="color: #db4437;"></i>
                    </a>
                </td>
                <td>
                    <a href="/WeddingInvZ/assets/misc/wedding.ics" download="wedding.ics">
                        <i class="bi bi-apple icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="small">
                    <a href="https://calendar.google.com/calendar/r/eventedit?text=Zabir+Shafinas+Wedding&dates=20241116T100000Z/20241116T150000Z&details=Muhammad+Zabir+and+Nurshafinas+Wedding+Ceremony&location=The+Gabion+Garden+Hall%2C+KL" target="_blank">
                        Google Kalendar
                    </a>
                </td>
                <td class="small">
                    <a href="/WeddingInvZ/assets/misc/wedding.ics" download="wedding.ics">
                        Apple Kalendar
                    </a>
                </td>
            </tr>
        </table>
        <br/>
        <h3>Tempat</h3>
        <p>25, Jalan 3/23a Pt.2, The Ark, Galeri PV</p>
        <p>17, Jalan 3/23a, Taman Danau Kota</p>
        <p>53300 Kuala Lumpur</p>
        <table>
            <tr>
                <td>
                    <a href="https://maps.app.goo.gl/ag7kijpDdzFSvLiV9" target="_blank">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="maps" viewBox="0 0 576 512">
                                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152l0 270.8c0 9.8-6 18.6-15.1 22.3L416 503l0-302.6zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6l0 251.4L32.9 502.7C17.1 509 0 497.4 0 480.4L0 209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77l0 249.3L192 449.4 192 255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/>
                            </svg>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="https://waze.com/ul/hw2864yb0t" target="_blank">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="waze" viewBox="0 0 512 512">
                                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M502.2 201.7C516.7 287.5 471.2 369.6 389 409.8c13 34.1-12.4 70.2-48.3 70.2a51.7 51.7 0 0 1 -51.6-49c-6.4 .2-64.2 0-76.3-.6A51.7 51.7 0 0 1 159 479.9c-33.9-1.4-58-34.8-47-67.9-37.2-13.1-72.5-34.9-99.6-70.8-13-17.3-.5-41.8 20.8-41.8 46.3 0 32.2-54.2 43.2-110.3C94.8 95.2 193.1 32 288.1 32c102.5 0 197.2 70.7 214.1 169.7zM373.5 388.3c42-19.2 81.3-56.7 96.3-102.1 40.5-123.1-64.2-228-181.7-228-83.5 0-170.3 55.4-186.1 136-9.5 48.9 5 131.4-68.8 131.4C58.2 358.6 91.6 378.1 127 389.5c24.7-21.8 63.9-15.5 79.8 14.3 14.2 1 79.2 1.2 87.9 .8a51.7 51.7 0 0 1 78.8-16.4zM205.1 187.1c0-34.7 50.8-34.8 50.8 0s-50.8 34.7-50.8 0zm116.6 0c0-34.7 50.9-34.8 50.9 0s-50.9 34.8-50.9 0zm-122.6 70.7c-3.4-16.9 22.2-22.2 25.6-5.2l.1 .3c4.1 21.4 29.9 44 64.1 43.1 35.7-.9 59.3-22.2 64.1-42.8 4.5-16.1 28.6-10.4 25.5 6-5.2 22.2-31.2 62-91.5 62.9-42.6 0-80.9-27.8-87.9-64.3z"/>
                            </svg>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="small">
                    <a href="https://maps.app.goo.gl/ag7kijpDdzFSvLiV9" target="_blank">
                        Google Maps
                    </a>
                </td>
                <td class="small">
                    <a href="https://waze.com/ul/hw2864yb0t" target="_blank">
                        Waze
                    </a>
                </td>
            </tr>
        </table>
        <br/>
        <h3>Hubungi</h3>
        <table>
            <tr>
                <td>Hafez</td>
                <td>+60 192412421</td>
                <td>
                    <a href="https://wa.me/60192412421" target="_blank">
                        <i class="bi bi-whatsapp" style="color: green;"></i>
                    </a>
                </td>
                <td>
                    <a href="tel:+60192412421" target="_blank">
                        <i class="bi bi-telephone-fill"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Alyani</td>
                <td>+60 163074287</td>
                <td>
                    <a href="https://wa.me/60163074287" target="_blank">
                        <i class="bi bi-whatsapp" style="color: green;"></i>
                    </a>
                </td>
                <td>
                    <a href="tel:+60163074287" target="_blank">
                        <i class="bi bi-telephone-fill"></i>
                    </a>
                </td>
            </tr>
        </table>
        <br/>
        <h3>Aturcara Majlis</h3>
        <table>
            <tr>
                <td>06.00 PM</td>
                <td>Majlis Bermula</td>
            </tr>
            <tr>
                <td>08.30 PM</td>
                <td>Ketibaan Pengantin</td>
            </tr>
            <tr>
                <td>10.00 PM</td>
                <td>Upacara Minum Teh Cina</td>
            </tr>
            <tr>
                <td>11.00 PM</td>
                <td>Majlis Bersurai</td>
            </tr>
        </table>
    </div>
</div>