@import '../../styles.less';

#third-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
}

h1, h2, h3, p, td {
    color: #e2d38c;
}

svg {
    fill: #e2d38c;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.page-content {
    position: relative;
    z-index: 900;
}

.page-border {
    background-image: url("/WeddingInvZ/assets/images/songket_border2.png");
    background-size: 15vw;
    background-position: left;
    background-repeat: repeat-y;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.right {
    transform: scaleX(-1);
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    border: none;
    padding-left: 10px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.maps,.waze {
    display: inline-block; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1em;
    height: 1em;
}

.flower {
    width: 10vw;
    left: 17vw;
    top: 10vh;
    position: absolute;
    z-index: 900;
}

.flower.right {
    right: 17vw;
    left: unset;
}

.food {
    width: 10vw;
    left: 17vw;
    bottom: 15vh;
    position: absolute;
    z-index: 900;
}

.food.right {
    right: 17vw;
    left: unset;
}

.food-below {
    width: 10vw;
    left: 40vw;
    bottom: 12vh;
    position: absolute;
}

.food-below.right {
    right: 40vw;
    left: unset;
}

@media (max-width: 376px) {
    div div {
        h1 {
            font-size: 22px;
        }
        
        h2 {
            font-size: 14px;
        }
        
        h3 {
            font-size: 16px;
        }
        
        p {
            font-size: 10px;
        }

        table tr {
            td {
                font-size: 10px;

                .icon {
                    font-size: 22px;
                }
            }

            td.small {
                font-size: 6px;
            }
        }
    }
}

@media (min-width: 376.1px) and (max-width: 575.98px) {
    div div {
        h1 {
            font-size: 24px;
        }
        
        h2 {
            font-size: 20px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        p {
            font-size: 12px;
        }

        table tr {
            td {
                font-size: 12px;

                .icon {
                    font-size: 24px;
                }
            }

            td.small {
                font-size: 8px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    div div {
        h1 {
            font-size: 32px;
        }
        
        h2 {
            font-size: 28px;
        }
        
        h3 {
            font-size: 20px;
        }
        
        p,table tr td {
            font-size: 14px;
        }

        table tr {
            td {
                font-size: 14px;

                .icon {
                    font-size: 26px;
                }
            }

            td.small {
                font-size: 10px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    div div {
        h1 {
            font-size: 40px;
        }
        
        h2 {
            font-size: 32px;
        }
        
        h3 {
            font-size: 24px;
        }
        
        p,table tr td {
            font-size: 16px;
        }

        table tr {
            td {
                font-size: 16px;

                .icon {
                    font-size: 28px;
                }
            }

            td.small {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    div div {
        h1 {
            font-size: 44px;
        }
        
        h2 {
            font-size: 34px;
        }
        
        h3 {
            font-size: 26px;
        }
        
        p,table tr td {
            font-size: 17px;
        }

        table tr {
            td {
                font-size: 17px;

                .icon {
                    font-size: 29px;
                }
            }

            td.small {
                font-size: 13px;
            }
        }
    }
}

@media (min-width: 1200px) {
    div div {
        h1 {
            font-size: 48px;
        }
        
        h2 {
            font-size: 36px;
        }
        
        h3 {
            font-size: 28px;
        }
        
        p,table tr td {
            font-size: 18px;
        }

        table tr {
            td {
                font-size: 18px;

                .icon {
                    font-size: 30px;
                }
            }

            .small {
                font-size: 14px;
            }
        }
    }
}

@media (min-aspect-ratio: 15/9) or (aspect-ratio: 16/10) {
    div {
        div {
            h3 {
                font-size: 16px;
            }

            p, table tr td, table tr td.small {
                font-size: 13px;

                a i, a .icon {
                    font-size: 16px;
                }
            }
        }

        .page-border {
            background-size: 5vw;
        }

        .flower {
            width: 5vw;
            left: 10vw;
            top: 10vh;
        }
        
        .flower.right {
            right: 10vw;
            left: unset;
        }
        
        .food {
            width: 5vw;
            left: 10vw;
            bottom: 15vh;
        }
        
        .food.right {
            right: 10vw;
            left: unset;
        }
        
        .food-below {
            width: 5vw;
            left: 20vw;
        }
        
        .food-below.right {
            right: 20vw;
            left: unset;
        }
    }
}