<div [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" class="page-border">
    <img [@tree]="showTree ? 'visible' : 'void'" (@tree.done)="onTreeDone($event)" src="/WeddingInvZ/assets/images/tree_lantern.png" class="tree-lantern"/>
    <div [@content]="showContent ? 'visible' : 'void'" class="page-content" id="fourth-page">
        <h1>Detik Masa Ke Majlis</h1>
        <br/>
        <div class="countdown-timer">
            <div class="numeral-font">{{ days }}:{{ hours }}:{{ minutes }}:{{ seconds }}</div>
        </div>
        <br/>
        <div class="loading-bar-container">
            <div class="loading-bar" [@progressBar]="{ value: progressState, params: { progress: progress } }">
                <div class="water">
                    <span class="progress-text">{{ progress | number: '1.0-2' }}%</span>
                </div>
            </div>
        </div>
    </div>
    <img [@fish]="showFish ? 'visible' : 'void'" (@fish.done)="onFishDone($event)" src="/WeddingInvZ/assets/images/fish.png" class="fish"/>
</div>