<div [@border]="showBorder ? 'visible' : 'void'" (@border.done)="onBorderDone($event)" class="page-border">
    <img [@tree]="showTree ? 'visible' : 'void'" (@tree.done)="onTreeDone($event)" src="/WeddingInvZ/assets/images/tree_lantern.png" class="tree-lantern"/>
    <div [@content]="showContent ? 'visible' : 'void'" (@content.done)="onContentDone($event)" class="page-content" id="first-page">
        <p>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
        <p>WALIMATUL URUS</p>
        <br/>
        <h1><div class="cursive-font">Muhammad Zabir</div></h1>
        <h1><div class="cursive-font">&</div></h1>
        <h1><div class="cursive-font">Nurshafinas</div></h1>
        <br/>
        <p>SABTU</p>
        <p>16 November 2024</p>
        <p>Kampung Pengantin</p>
        <img [@image]="showImage ? 'visible' : 'void'" src="/WeddingInvZ/assets/images/Together_Malay.png" class="male-img right"/>
    </div>
</div>