<div [@border]="showBorder ? 'visible' : 'hidden'" (@border.done)="onBorderDone()" class="page-border">
    <div [@content]="showContent ? 'visible' : 'hidden'" class="page-content" id="first-page">
        <p>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
        <p>WALIMATUL URUS</p>
        <br/>
        <h1><div class="cursive-font">Muhammad Zabir</div></h1>
        <br/>
        <h1><div class="cursive-font">&</div></h1>
        <br/>
        <h1><div class="cursive-font">Nurshafinas</div></h1>
        <br/>
        <p>SABTU</p>
        <p>16 November 2024</p>
        <p>Kampung Pengantin</p>
        <img src="/assets/images/Zabir_Malay.png" style="width: 20%;"/>
    </div>
</div>