/* You can add global styles to this file, and also import other style files */
@background-page2-path: '/WeddingInvZ/assets/images/background_page2.png';
@songket-border: '/WeddingInvZ/assets/images/songket_border.png';
@songket-border2: '/WeddingInvZ/assets/images/songket_border2.png';
@tree-lantern: '/WeddingInvZ/assets/images/tree_lantern.png';
@flower1: '/WeddingInvZ/assets/images/flower1.png';
@flower2: '/WeddingInvZ/assets/images/flower2.png';
@food1: '/WeddingInvZ/assets/images/food1.png';
@food2: '/WeddingInvZ/assets/images/food2.png';
@food3: '/WeddingInvZ/assets/images/food3.png';
@food4: '/WeddingInvZ/assets/images/food4.png';
